body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://images.unsplash.com/photo-1543157145-f78c636d023d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2669&q=80");
  background-size: cover;
  background-position: center;
  z-index : 1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  position: relative;
  overflow: hidden;
  width: 40vw;
  height: 10vh;
  border-radius: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding-top : 70px;
  z-index : 2;
  margin-top: 10px;
  border: none;
  background-color: #2f312f;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.8);
  transition: top 0.5s ease-in-out;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 50px 20px;
}

.logo {
  font-size: 70px;
  font-weight: 900;
  color: #ffffff;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: -1px;
  margin-bottom: 0px;
  cursor: pointer;
  font-family: Montserrat;
}

.tagline {
  font-size: 20px;
  font-weight: 400;
  color: #bcbcbc;
  margin: 0;
  margin-bottom: 0px;
}

.header-image ::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); 
  mix-blend-mode: multiply; 
  z-index : 1;
}

.header-image {
  margin: 0 auto;
  max-width: 700px;
  position: relative;
  left : 255px;
  bottom : 100px;
  opacity: 1.0;
  object-fit: cover;
  filter: grayscale(100%);
  z-index : 2;
}

.header-image img {
  max-width: 20%;
  height: auto;
  margin-bottom: 0px;
  margin-top: 0px;
  cursor: pointer; 
}

.header-image figcaption {
  font-size: 18px;
  color: #ffffff;
  text-align: center;
  margin-top: 10px;
  cursor: pointer; 
}

.logo:hover {
  color: #ffffff;
}

.header-image figcaption:hover {
  color: #ffffff;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}
